body{
  margin: 0;
}

#root {
  width:100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #121212;
}

li{
  list-style: none;
}

.link {
  text-decoration: none;
  color: #121212;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px;
  background-color: #ededed;
}

.navbar_logo {
  font-size: 24px;
}

.navbar_menu > ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 5px 12px;
}

.navbar_icons{
  list-style: none;
  display: flex;
}

.navbar_icons li{
  padding: 5px 12px;
}

.flex-container{
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.items-end {
  align-items: end;
}
.justify-start {
  justify-content: start;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.grid-container {
  display: grid;
}

.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-3 {
  gap: 3px;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-30 {
  gap: 30px;
}
.gap-40 {
  gap: 40px;
}
.gap-50 {
  gap: 50px;
}

.section1{
  width: 100%;
  height: auto;
  background-color: #ededed;
  padding: 50px 0;
}

.section2{
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 50px 0;
}

.middle {
  margin: auto 0;
}

.pdt5{
  padding-top: 5px;
}
.pdt10{
  padding-top: 10px;
}
.pdt20{
  padding-top: 20px;
}
.pdt30{
  padding-top: 30px;
}

.pdb5{
  padding-bottom: 5px;
}
.pdb10{
  padding-bottom: 10px;
}
.pdb20{
  padding-bottom: 20px;
}

.pdl5{
  padding-left: 5px;
}
.pdl10{
  padding-left: 10px;
}
.pdl20{
  padding-left: 20px;
}

.text-align-center {
  text-align: center;
}