.career_container{
  width: 100%;
  background-color: #ededed;
}
.career_box{
  width: 70%;
  margin: 0 auto;
}

@media ( max-width: 1024px ) {
  .career_box{
    width: 100%;
    margin: 0 auto;
  }
}