.info_container{
  width:60%;
  margin: 0 auto;
}
.img_container {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

img {
  width: 200px;
}

.photo_zone {
  padding-right: 30px;
  width: auto;
  margin: auto 0;
}

.info_zone {
  padding-left: 30px;
  width: auto;
  margin: auto;
  text-align: center;
}
