.info_container{
  width:60%;
  margin: 0 auto;
  min-width: 1024px;
  display: flex;
  justify-content: center;
}
.img_container {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

img {
  width: 200px;
}

.photo_zone {
  padding-right: 30px;
  width: auto;
  margin: auto 0;
}

.info_zone {
  padding-left: 30px;
  width: auto;
  margin: auto;
}

@media ( max-width: 1024px ) {
  .info_container{
    display: inline;
  }
  .info_zone {
    max-width: 500px;
    padding-top: 30px;
  }
  img {
    width: 300px;
  }
  .photo_zone{
    padding:0px
  }
}
@media ( max-width: 500px ) {

  img {
    width: 85%;
  }

}