.img_container {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

img {
  width: 200px;
}

.photo_zone {
  width: 35%;
  margin: auto 0;
}

.info_zone {
  width: 35%;
  margin: auto 0;
}

.info_zone p {
  width : 400px;
}