.skill_explain {
  max-width: 400px;
  padding : 20px 30px;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.line_first {
  color: #173ed9;
  font-size: 12px;
  font-weight: bold;
  line-height: 3px;
}

.line_second {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}

.skill_card{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 60px;
}

.card_container{
  width: 'auto';
  min-width:122px;
  height: 125px;
  background-color: #f5f5f5;
  border: 1px solid #dbdbdb;
  justify-content: center;
}

.card_label {
  width: 100%;
  text-align: center;
  padding: 5;
}